* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 40px;
}

.svg_image {
    width: 450px;
}

.svg_image img {
    width: 100%;
    height: auto;
}

.form {
    width: 450px;
    background: #fff;
    padding: 30px;
    border-radius: 12px;
}

.form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
}

.form input,
.form textarea {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
}

.form textarea {
    resize: none;
    height: 120px;
}

.form button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    border: none;
      background: linear-gradient(135deg, #43b47c, #2d8f5e);
    color: #fff;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.form button:hover {
    background: black;
    transform: scale(1.03);
    box-shadow: 0 6px 20px rgba(45, 143, 92, 0.3);
}

.fa-solid {
    font-size: 15px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-right: 10px;
}

.ok {
    color: green;
    border: 1px solid green;
}

@media(max-width:768px) {

    .main {
        flex-direction: column;
        gap: 30px;
    }

    .svg_image,
    .form {
        width: 100%;
        max-width: 450px;
    }

}